{% extends 'base/base.html' %}

{% block title %}Buyer Delete{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Cliente</a></li>
                            <li class="active">Lista</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Lista de Clientes</h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Telefono</th>  
                                <th>DPI</th>  
                                <th>Saldo</th>
                                <th>Credito</th>
                                <th>Descuento</th>
                                <th>Fecha</th>
                                <th>Opciones de Lista</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% if buyer %}
                            {% for buyer in buyer %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ buyer.name }}</td>
                                <td>{{ buyer.surname }}</td>
                                <td>{{ buyer.phone }}</td>
                                <td>{{ buyer.dpi }}</td>
                                <td>{{ buyer.balances }}</td>
                                <td>{{ buyer.credit }}</td>
                                <td>{{ buyer.discount }}</td>
                                <td>{{ buyer.created_date }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-secondary btn-sm" href="{% url 'delete-buyer' buyer.id  %}">Eliminar<i ></i></a>
                                     
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No hay datos de clientes registrados</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>

   <center>
     <ul class="pager">
                        <li>
                            {% if page_obj.has_previous  %}
                            <a class="btn btn-primary btn-sm" href="?page={{ page_obj.previous_page_number }}">Previo</a>{% endif%}
                        </li>
                        <li>
                            {% if page_obj.has_next  %}
                            <a class="btn btn-primary btn-sm"  href="?page={{ page_obj.next_page_number }}">Siguiente</a>{% endif %}
                        </li>
                    </center>
{% endblock content %}