{% extends 'base/base.html' %}

{% block title %}Edit Delivery{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Entrega</a></li>
                            <li class="active">Editar</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Editar Entrega</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="order" class="control-label mb-1">Pedido</label>
                                {{ form.order }}
                            </div>
                            <div class="form-group">
                                <label for="courier_name" class="control-label mb-1">Nombre de Mensajero</label>
                                {{ form.courier_name }}
                            </div>
                            <div>
                              <center><div>
                                <button id="payment-button" type="submit" class="btn btn-primary btn-sm">
                                    <span id="payment-button-amount">Guardar Cambios</span>
                                </button>

                                <button id="payment-button" href="{% url 'delivery-list' %}" class="btn btn-secondary btn-sm">
                                    <span id="payment-button-amount">Cancelar</span>
                                </button>
                            </div></center>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}